html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.time-output {
    padding-top: 25px;
    min-height: 50px;
}